@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html {
    height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
    display: flex;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}